version: "3.9"

services:
  atlas:
    build: .
    container_name: atlas-userbot
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - DOCKER=1
    volumes:
      - .:/atlas